@media screen and (max-width: 1245px) {

  /* *{
        overflow: hidden;
    }*/
  .course_image {
    display: none;
  }

  .course_content {
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }

  .content {
    align-items: center;
  }

  .course_content p {
    text-align: center;
  }

  .title {
    align-items: center;
  }

  .title h2 {
    text-align: center;
  }

  .title p {
    text-align: center;
    width: 80%;
  }

  .course-cards {
    margin: auto;
  }
}

@media screen and (max-width: 1078px) {
  .course-cards {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .new {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: -12px 0px;
    align-items: end;
    position: absolute;
    top: -40px;
    right: 16px;
  }

  .upper_card {
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .ratecards{
    
  
    grid-template-columns: repeat(2, 1fr);
  }
  .ratecards .rate-card{
    align-items: center;
    text-align: center;
  }
  .course-cards p {
    text-align: center;
    max-width: 200px;
  }

  .cart-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .details {
    align-items: center;
  }

  .details p {
    text-align: center;
  }

  .login-title h2 {
    width: 100%;
    /*max-width: 100%;*/
  }

  .login-title p {
    width: 70%;
    text-align: center;
  }

  .footer-links {
    width: 100%;
  }

  .promo-section {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;

  }

  .promo-details h2 {
    display: flex;
    text-align: center;
    width: 50%;
    align-items: self-start;
    justify-content: center;
  }

  .promo-details p {
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .promo-details {
    align-items: center;
    /*  width: 80%;*/
  }
}
@media screen and (max-width: 915px){
  .nav-list{
    display: none;
  }
  .nav-btn{
    display: none;
  }
  
}
@media screen and (max-width: 800px) {
  .promo-details h2 {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .main-navbar .navbar ul {
    display: none;
  }

  .main-navbar {
    width: 100%;
    justify-content: space-between;
  }

  .main-navbar .navbar {
    width: auto;
  }

  .nav-btn {
    display: none;
  }

  .course_content h1 {
    text-align: center;
  }

  .course-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .cart-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .ratecards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .rate-card h6 {
    text-align: center;
    max-width: 100%;

  }

  .ratecards .rate-card {
    align-items: center;
    justify-content: center;
  }

  .new {
    display: none;
  }

  .promo-image {
    display: none;
  }

  .detail-ratings {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-links {
    row-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr)
  }
  .promo-details p{
    width: 70%;
  }

  .end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .button {
    padding: 14px 21px;
    font-size: 12px;
  }

  form {
    width: 80%;
  }

  .rate-card p {
    text-align: center;
  }


}

@media screen and (max-width: 400px) {
  .course_content h1 {
    font-size: 35px;
  }
  .promo-details h2{
    font-size: 35px;
  }

  .title h2 {
    font-size: 38px;
  }

  .promo-details h2 {
    font-size: 38px;
  }

  .rates h2 {
    font-size: 38px;
  }

  .login-title h2 {
    font: size 40px;
    ;
  }

  .main-navbar {
    font-size: 22px;

  }

  .main-navbar {
    font-size: 22px;
  }

  .rate h3 {
    font-size: 22px
  }

  .rate-card h3 {
    font-size: 22px;
  }

  .course_content h5 {
    font-size: 13px;
  }

  .lower_card h5 {
    font-size: 13px;
  }

  .upper_card h5 {
    font-size: 13px;
  }

  .details h5 {
    font-size: 13px;

  }

  .teacher h5 {
    font-size: 13px;

  }

  .footer-grid h5 {
    font-size: 13px;

  }

  .button {
    padding: 12px 18px;
    font-size: 10px;
  }


  .title h6 {
    font-size: 12px;
  }

  .label h6 {
    font-size: 12px;
  }

  .titlename h6 {
    font-size: 12px;
  }

  .details h6 {
    font-size: 12px;
  }

  .rate-card h6 {
    font-size: 12px;
  }

  .active h6 {
    font-size: 12px;
  }

  .active_non_active_updates h6 {
    font-size: 12px;
  }

  .login-title h6 {
    font-size: 12px;
  }

  .end h6 {
    font-size: 12px;
  }

  .footer-links {
    grid-template-columns: repeat(1, 1fr);
  }

  .login-title h2 {
    font-size: 35px;
  }

  .login-title p {
    font-size: 12px;
  }
  .title p {
    font-size: 12px;
  }
  .course_content p{
    font-size: 15px;
  }
  .course-cards p {
    font-size: 12px;
  }
  .details p{
    font-size: 12px;

  }
  .promo-details p{
    font-size: 12px;
    width: 80%;
  }
  .rate-card p{
    font-size: 12px;

  }
  .detail-ratings p{
    font-size: 12px;

  }


}

  @media screen and (max-width: 400px) {}