* {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.bg-hero-section {
    background-color: #26335d;
}

body {
    margin: 0px;
    /* padding: 0px; */
}

.header {
    padding: 5px 10px;
}

.contaniner {
    max-width: 1200px;
    margin: auto;
    /* padding: 20px; */
}

.main-navbar {
    display: flex;
    align-items: center;
    /*gap: 50px;*/
    max-width: 100%;
    margin: 0;
    padding: 0px 0px 0px 70px;
}

.main-navbar h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    /* padding: 0px 85px;*/
}

.main-navbar .navbar {
    display: flex;
    align-items: center;
    gap: 210px;
}

.main-navbar .navbar ul {
    display: flex;
    gap: 25px;
}

.nav-list {
    text-decoration: none;
}

.main-navbar ul li {
    list-style-type: none;
    display: flex;
}

.main-navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.nav-action {
    display: flex;
    gap: 34px;
    align-items: center;
}

button {
    /*padding: 15px 40px;*/
    font-size: 15px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-btn {
    color: #ffffff;
}

.main-btn {
    background: #ff6551;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    color: #fff;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    gap: 10px;
    justify-items: center;
    display: flex;
}

/* .fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
    line-height: 0;
} */

.main-btn i {
    justify-items: center;
    align-items: center;
    display: flex;
}

.content {
    background-color: #26335d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course_content {
    /*align-items: center;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    gap: 20px;
}

.course_content h5 {
    font-size: 16px;
    font-weight: 700;
    color: #ff6551;
}

.course_content h1 {
    font-size: 58px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.course_content p {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.brand-btn {
    display: flex;
    gap: 10px;
}

.fill-btn {
    background: #ff6551;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    color: #fff;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    gap: 10px;
}

.trans-btn {
    padding: 15px 27px;
    border-radius: 5px;
    border: 1px;
    color: #fff;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    gap: 10px;
    border: 1px solid #ff6551;
    color: #ff6551;
}

.couse _image {
    max-width: 100%;
}

.title {
    padding: 70px 0px 100px 0px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.title h6 {
    font-size: 14px;
    font-weight: 700;
    color: #ff6551;
    margin: 0;
}

.title h2 {
    font-size: 40px;
    font-weight: 700;
    color: #252b42;
    margin: 0;
}

.title p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    gap: 10px;
    max-width: 473px;
}

.course-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 90%;
    justify-content: center;
    align-items: center;
}

.course-cards:hover {
    color: #ff6551;
    color: #ffffff;
}

.upper_card:hover {
    background-color: #ff6551;
    color: #ffffff !important;
}

.upper_card:hover h5 {
    color: #ffffff;
}

.upper_card:hover P {
    color: #ffffff;
}

.lower_card:hover h5 {
    color: #ffffff;
}

.lower_card:hover p {
    color: #ffffff;
}

.Upper_Card2:hover h5 {
    color: #ffffff;
}

.Upper_Card2:hover p {
    color: #ffffff;
}

.upper_card:hover line {
    background-color: #ffffff;
}

.lower_card:hover {
    background-color: #ff6551;
    color: #ffffff;
}

.Upper_Card2:hover {
    background-color: #ff6551;
    color: #ffffff;
}

.upper_card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 32px 30px 30px 28px;
    position: relative;
    bottom: 30px;
    gap: 30px;
    color: #737373;
}

.lower_card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 32px 30px 33px 28px;
    gap: 30px;
    color: #737373;
}

.Upper_Card2 {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 32px 30px 33px 28px;
    position: relative;
    bottom: 30px;
    gap: 30px;
}

.upper_card_icon {
    color: #e74040;
    background-color: #f9fdff;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    width: 70px;
    height: 76px;
    border-radius: 10px;
}

.lower_card_icon {
    color: #e74040;
    background-color: #ddeefe;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    width: 70px;
    height: 76px;
    border-radius: 10px;
}

.Upper_Card2_icon {
    color: #e74040;
    background-color: #f9fdff;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    width: 70px;
    height: 76px;
    border-radius: 10px;
}

.lower_card h5 {
    font-size: 16px;
    font-weight: 700;
    color: #252b42;
}

.line {
    background-color: #e74040;
    width: 50px;
    height: 5px;
    border: none;
    align-items: center;
}

.upper_card_icon {
    color: #e74040;
    background-color: #f9fdff;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    width: 70px;
    height: 76px;
    border-radius: 10px;
}

.upper_card h5 {
    font-size: 16px;
    font-weight: 700;
    color: #252b42;
}

.Upper_Card2 h5 {
    font-size: 16px;
    font-weight: 700;
    color: #252b42;
}

.course-cards p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    max-width: 145px;
}

.image {
    justify-content: flex-start;
    position: relative;
    height: 56.2%;
}

.cart-btns {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
    border: none;
    gap: 7px;
    justify-content: center;
    padding: 5px 30px;
}

.round-btn {
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-style: none;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    background: #e74040;
    padding: 0 8px;
    top: 20px;
    left: 20px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px #0000001a;
}

.label h6 {
    margin-block-start: 3px;
    margin-block-end: 3px;
    font-size: 14px;
    font-weight: 600;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 35px;
    align-items: flex-start;
}

.titlename {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.titlename h6 {
    font-size: 14px;
    font-weight: 700;
    color: #ff6551;
}

.details h6 {
    color: #ff6551;
}

.star {
    color: #ffffff;
    background-color: #26335d;
    border-radius: 15px;
    width: 57px;
    height: 28px;
    justify-content: center;
    align-items: center;
}

.star i {
    display: flex;
    color: #ffd43b;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.details h5 {
    color: #252b42;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.details p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    padding: 0px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2px;
    max-width: 190px;
}

.details h6 {
    font-size: 14px;
    font-weight: 700;
    color: #737373;
    display: flex;
    align-items: center;
    margin: 0;
}

.titlename .T-name {
    color: #ff6551;
}

.rate {
    display: flex;
    gap: 1%;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 0px 5px;
}

.rate h3 {
    color: #bdbdbd;
}

.rate span {
    color: #2435a1;
}

.rate .rate-1 {
    color: #bdbdbd;
}

.cart-button {
    color: #ff6551;
    border-radius: 37px;
    border-color: #ff6551;
    max-width: 160px;
    border: 1px solid #ff6551;
    padding: 11px 22px;
}

.material-symbols-outlined {
    line-height: 0;
}

.cart-button span {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.cart-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*padding: 0px 1px 55px 0px;*/
    justify-content: center;
    gap: 15px;
}

.promo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-image {
    max-width: 100%;
    padding: 80px 10px;
}

.line1 {
    background-color: #e74040;
    width: 80px;
    height: 5px;
    border: none;
    align-items: center;
}

.promo-details {
    padding: 31px 52px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.promo-details h2 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    gap: 0px;
}

.promo-details p {
    font-size: 14px;
    font-weight: 400px;
    color: #ffffff;
    gap: 0px;
    justify-content: start;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.promo-details .promo-btn {
    color: #ff6551;
    font-size: 14px;
    font-weight: 400;
    gap: 0px;
    border-style: none;
    align-items: center;
    justify-items: center;
    padding-right: 72%;
}

.ratecards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 100%;
}

.rate-card {
    padding: 13px 13px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ratecards .rate-card {
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 27px 40px;
    margin: auto;
    position: relative;
}

.newbtn {
    color: #ffffff;
    font-size: 27px;
    font-weight: 600;
    background-color: #e77c40;
    border-radius: 50px;
    height: 90px;
    width: 90px;
}

.new {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: -12px 0px;
    align-items: end;
    position: absolute;
    bottom: 685px;
    left: 325px;
}

.rate-card .Cbtn {
    background-color: #2435a1;
    border-radius: 200px;
    border-color: transparent;
    border-radius: 200px;
    align-items: center;
    font-size: 40px;
    width: 100px;
    height: 100px;
}

.rate-card .Cbtn .fa-solid fa-heart {
    height: 22px;
}

.rate-card h3 {
    color: #252b42;
    font-size: 24px;
    font-weight: 700;
}

.rate-card h6 {
    font-size: 14px;
    font-weight: 700;
    max-width: 210px;
    color: #737373;
}

.rates {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.rates h2 {
    color: #ff6551;
    font-size: 40px;
    font-weight: 700;
    height: 14px;
}

.rates h6 {
    color: #8ec2f2;
    font-size: 12px;
    font-weight: 600;
}

.rate-card p {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    max-width: 75%;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    padding-bottom: 15px;
}

.rate-card .Cbtn-2 {
    background-color: #ff6551;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px 75px;
    gap: 10px;
}

.active_non_active_updates {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.non-active{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.active .round {
    background-color: #2dc071;
    border-radius: 200px;
    width: 27px;
    height: 26px;
}

.active h6 {
    max-width: 100%;
}

.active_non_active_updates h6 {
    color: #252b42;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.line:hover{
    background-color: white;
}

.non-active .round {
    background-color: #bdbdbd;
    border-radius: 200px;
    width: 27px;
    height: 26px;
}

.detail-ratings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 15px;
}

.detail-ratings h6 {
    margin: 0;
    padding: 8px;
}

.Teacher {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Teacher h5 {
    margin: 0;
}

.col-ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 111px;
    text-align: center;
    gap: 10px;
    margin: 0;
}

.detail-ratings p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    max-width: 85%;
}

.col-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 111px;
    text-align: center;
    gap: 10px;
    margin: 0;
}

.teacher h5 {
    height: 0px;
    margin: 0;
    display: flex;
    gap: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 378px;
    text-align: center;
    gap: 10px;
}

.login-title h6 {
    color: #ff6551;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.login-title h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.login-title p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 0px;
    margin: 0;
}

form {
    display: flex;
    width: 50%;
    justify-content: center;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.log-btn {
    padding: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 400;
}

form button {
    background-color: #ff6551;
    color: #e6e6e6;
    border-radius: 0px 5px 5px 0px;
}

input {
    border: 0px solid #e6e6e6;
    border-radius: 0px 5px -2px 0px;
    width: 90%;
    padding: 16px;
    color: #737373;
    font-size: 14px;
    font-weight: 400;
}

.footer-grid h5 {
    font-size: 16px;
    font-weight: 700;
    color: #252b42;
    text-align: left;
}

.footer a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.footer .links a {
    gap: 10px;
    color: #737373;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.link-directn a {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
}

.link-directn span {
    color: #ff6551;
    font-size: x-large;
}

.end-section .bg-hero-section {
    background: #fafafa;
}

.material-symbols-outlined {
    line-height: 0;
}

.link-directn span {
    color: #ff6551;
    font-size: x-large;
}

.link-directn .add {
    padding: 0px 0px;
    margin-right: -43px;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 25px;
}

.end h6 {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
}

.s-media {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 25px;
    color: #ff6551;
}
.media{
    color: #ff6551;
}
.row-gap {
    padding-top: 100px;
    padding-bottom: 100px;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.course-section .row-gap {
    padding-top: 44px;
    padding-bottom: 80px;
}
input:focus{
    outline: none;
}